@import 'normalize.css';

.navbar-container {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.01) 0, #000000 150%);
  width: 100%;
  top: 0;
  left: 0;
  content: '';

  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.5s; /* Firefox < 16 */
      -ms-animation: fadein 0.5s; /* Internet Explorer */
       -o-animation: fadein 0.5s; /* Opera < 12.1 */
          animation: fadein 0.5s;
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  .zfg-logo {
    margin: 20px auto;
    background-image: url('/static/images/zfg/zfg-logo.png');
    width: 350px;
    height: 24px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease 0s;

    @media 
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 2dppx) {
      background-image: url('/static/images/zfg/zfg-logo@2x.png');
    }

    @media 
    only screen and (-webkit-min-device-pixel-ratio: 3),
    only screen and (   min--moz-device-pixel-ratio: 3),
    only screen and (     -o-min-device-pixel-ratio: 3/1),
    only screen and (        min-device-pixel-ratio: 3),
    only screen and (                min-resolution: 3dppx) {
      background-image: url('/static/images/zfg/zfg-logo@3x.png');
    }

    @media (max-width: 375px) {
      width: 250px;
      height: 18px;
    }

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
  
  .navbar-links {
    display: inline-block;
    padding: 0;
    list-style-type: none;
    overflow: hidden;

    li {
      float: left;

      a {
        display: block;
        color: #c8c8c8;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.333em;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 200;
        padding-left: 15px;
        padding-right: 15px;
        transition: all 0.3s ease 0s;

        @media (max-width: 375px) {
          font-size: 10px;
          padding-left: 8px;
          padding-right: 8px;
        }

        &:hover {
          color: white;
        }
      }
    }
  }
}
