@import 'normalize.css';

$color-red: red;
$color-blue: blue;
$color-green: green;

.red-block {
  h1, p {
    color: $color-red;
  }
}

.blue-block {
  h1, p {
    color: $color-blue;
  }
}

.green-block {
  h1, p {
    color: $color-green;
  }
}