@import 'normalize.css';

.footer-container {
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  content: '';

  p {
    color: #808080;
    font-size: 10px;
    font-weight: 200px;

    a {
      color: #808080;
      text-decoration: none;
    }
  }

  .footer-links {
    display: inline-block;
    padding: 0;
    list-style-type: none;
    overflow: hidden;

    li {
      float: left;

      a {
        .social-media-icon {
          margin-left: 12px;
          margin-right: 12px;
          font-size: 30px;
          color: #fff;
          transition: all 0.3s ease 0s;
        }

        .fa-facebook-official {
          &:hover {
            color: #3B5998;
          }
        }

        .fa-instagram {
          &:hover {
            color: #f77737;
          }
        }

        .fa-youtube-play {
          &:hover {
            color: #cd201f;
          }
        }
      }
    }
  }
}
