@import 'normalize.css';
@import '../../../static/styles/fontawesome.css';

.footer-container {
  position: relative;
  bottom: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  text-align: center;

  p {
    color: #808080;
    font-size: 10px;
    font-weight: 200px;

    a {
      color: #808080;
      text-decoration: none;
    }
  }

  .footer-links {
    display: inline-block;
    padding: 0;
    min-height: 30px;
    height: 30px;
    list-style-type: none;
    overflow: hidden;

    li {
      float: left;

      a {
        .social-media-icon {
          margin-left: 12px;
          margin-right: 12px;
          font-size: 30px;
          color: #fff;
        }
        
        .fa-facebook-official {
          &:hover {
            color: #3B5998;
          }
        }

        .fa-instagram {
          &:hover {
            color: #f77737;
          }
        }

        .fa-youtube-play {
          &:hover {
            color: #cd201f;
          }
        }
      }
    }
  }
}
