@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import 'normalize.css';

body {
  background: black;
}

.filler {
  position: relative;
  height: calc( 100vh - 311px );
}

.coming-soon-panel {
  text-align: center;
  height: calc( 100vh - 311px );

  p {
    color: #a8a8a8;
    font-family: 'Cutive Mono', monospace;
    font-size: 12px;
    letter-spacing: 0.1em;
    padding: 0;
    margin: 0;
  }
}
